body
    {
    background-color: #A3FFFF;
    font-family: verdana, sans-serif;
        
    }
    h1 
    {
    color: #2385FF;
    }

    h2
    { color: #FF3300
        }    

    .instructions 
    {
    color: 	#006600;
    text-indent:50px;
    }

    #texCav
    {
        font-family: 'Denk One', sans-serif;
        color: #751947;
    }
    
    ol.a {list-style-type:lower-roman;}

    a:visited 
    { 
    color: #FF0000; 
    }

    a:hover { color: #004200; }

    #cheeseGrits
    {
    list-style-type:circle;
    }
    
    #cheeseGritsSection
    {
    border:7px solid red;
    }

